<div >
  <h1 >Search Result</h1>
  <button
    type="button"
    [routerLink]="['/view0']"
  >
    Back
  </button>
</div>
<br>
<hr>
<div *ngIf="reviews.length > 0; else emptyMsg">
  <table *ngFor="let review of reviews">
    <tr>
      <td>Title:</td>
      <td>
        <a [href]="review.reviewURL" target="_blank">
          {{ review.title }} | {{ review.rating ? review.rating : 'no-rating' }}
        </a>
      </td>
    </tr>
    <tr>
      <td>Headline:</td>
      <td>{{ review.headline }}</td>
    </tr>
    <tr>
      <td>Summary:</td>
      <td>{{ review.summary }}</td>
    </tr>
    <tr>
      <td>Comments:</td>
      <td>{{ review.commentCount }}</td>
    </tr>
    <tr>
      <td>Image:</td>
      <td>
        <img
          [src]="review.image || '/assets/placeholder.jpg'"
          alt=""
        />
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="button" [routerLink]="['/view2', review.title]">
          Comment
        </button>
      </td>
    </tr>
    <tr>
      <td><hr /></td>
      <td><hr /></td>
    </tr>
  </table>
</div>
<ng-template #emptyMsg> <h2>{{ loadingMsg }}</h2> </ng-template>
