<h1>Search Result</h1>
<ng-container *ngIf="reviews.length > 0; else emptyMsg">
  <table *ngFor="let review of reviews">
    <tr>
      <td>Title:</td>
      <td>
        <a [href]="review.reviewURL" target="_blank">
          {{ review.title }} | {{ review.rating }}
        </a>
      </td>
    </tr>
    <tr>
      <td>Headline:</td>
      <td>{{ review.headline }}</td>
    </tr>
    <tr>
      <td>Summary:</td>
      <td>{{ review.summary }}</td>
    </tr>
    <tr>
      <td>Comments:</td>
      <td>{{ review.commentCount }}</td>
    </tr>
    <tr>
      <td>Image:</td>
      <td>
        <img
          [src]="review.image ? review.image : '/assets/placeholder.jpg'"
          alt=""
        />
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="button" [routerLink]="['/view2', review.title]">
          Comment
        </button>
      </td>
    </tr>
    <tr>
      <td><hr /></td>
      <td><hr /></td>
    </tr>
  </table>
</ng-container>
<ng-template #emptyMsg> <h2>Your search produces no result</h2> </ng-template>
